<div id="pdf-container-{{ .Get "id" }}"></div>
<button id="load-button-{{ .Get "id" }}" onclick="loadPDF('{{ .Get "path" }}', '{{ .Get "id" }}')"><i>Load the PDF</i></button>
<button id="download-button-{{ .Get "id" }}" onclick="downloadPDF('{{ .Get "path" }}')">or directly <i>download the PDF</i></button>

<script>
function loadPDF(path, id) {
  var container = document.getElementById('pdf-container-' + id);
  container.innerHTML = '<object data="' + path + '" type="application/pdf" width="100%" height="600px"></object>';
  
  var loadButton = document.getElementById('load-button-' + id);
  loadButton.style.display = 'none';
  
  var downloadButton = document.getElementById('download-button-' + id);
  downloadButton.style.display = 'none';
}

function downloadPDF(path) {
  window.open(path, '_blank');
}
</script>